body {
  font-family: Arial;
  background: #222;
  color: white;
  text-align: center;
}

#controls {
  margin: 15px auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

#gui-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

#gui-background {
  width: 540px; /* passt für 6 Slots horizontal */
  display: block;
}

.slot {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(136,136,136,0.8);
}

.slot img {
  max-width: 45px;
  max-height: 45px;
}

textarea {
  width: 80%;
  height: 200px;
  margin-top: 20px;
  background: #333;
  color: white;
  border: 1px solid #555;
  padding: 5px;
}
